mat-toolbar {
  background-color: #293141;
  justify-content: space-around;
  position:fixed;
  top:0px;
  width:100%;
}

.logo a{color: white !important;}

.navLink {
  margin: 0px 22px;
  color: white;
}
